/* --------------------- PRODUCT DETAILS --------------------- */
#productDetails {
  display: grid;
  grid-template-rows: 500px;
  gap: 10px;
  grid-template-columns: 70% 30%;
  /* padding-left: 100px;
  padding-right: 100px; */
}
.style {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
}
.stylePhoto {
  padding: 5px;
  width: 50px;
  height: 50px;
}
.defaultView {
  height: 500px;
}
#defaultView {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1;
}
#thumbnailList {
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1;
  position: relative;
  width: 100px;
  height: fit-content;
}
.selectedThumbnail {
  border-bottom: 4px solid black;
}
#upScroll-container
#downScroll-container {
  width: 50px;
  align-content: center;
  text-align: center;
}
#info {
  grid-column: 2 / 2;
  grid-row: 1;
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
}
/* #productOverview {
  display: grid;
  grid-template-rows: 150px;
  gap: 10px;
  grid-template-columns: 70% 30%;
  border: 1px solid #ddd;
  padding: 2px;
} */
#overviewDescription {
  grid-column: 1 / 2;
  grid-row: 2;
}
#overviewFeatures {
  grid-column: 2 / 2;
  grid-row: 2;
  border-left: 3px solid #ddd;
  padding: 5px;
}
#share {
  grid-column: 1 / 2;
  grid-row: 3;
  border: 1px solid #ddd;
  padding: 2px;
  }
#starRating {
  height: 50px;
  border: 1px solid #ddd;
  padding: 2px;
  text-align: left;
}
#productTitle {
  font-weight: bold;
  font-size:x-large;
}

/* #relatedItemsWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
} */

.relatedItemsStrip {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.relatedItemCard {
  cursor: pointer;
  border: 1px solid gray;
  display: grid;
  grid-template-rows: 1fr 9fr 1fr 1fr 1fr 1fr;
  /* height: 400px; */
}

.relatedItemCard > img {
  width: 100%;
  height: auto;
}

#comparisonModal {
  /* display: block; */
  position: fixed;
  top: 50%;
  left: 50%;
  /* float: left; */
  width: 500px;
  height: 500px;
  overflow: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  background: white;
}

#checkIcon {
  position: absolute;
  left: 50px;
  text-align: center;
  align-items: center;
  color: #ddd;
}
.img-container {
  position: relative;
}

/* --------------------- RELATED ITEMS --------------------- */

/* --------------------- QUESTIONS AND ANSWERS --------------------- */

.qa-questions-list-container {
  overflow: scroll;
  max-height: 90vh;
}

.qa-answers-list-container {
  overflow: scroll;
  max-height: 50vh;
}

.qa-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.qa-modal-content {
  width: 500px;
  background: #fff;
}

.qa-modal-header {
  padding: 10px;
}

.qa-modal-title {
  margin: 0;
}

.qa-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* --------------------- RATINGS AND REVIEWS --------------------- */

.review-overall-container {
  margin: 1%;
  padding: 1%;
}

.review-overall-container > * {
  margin: 1% 0;
}

.review-content-container {
  display: flex;
}

.review-content-container > *{
  margin: 1% 0;
  padding: 1%;
}

.review-sub-container {
  flex: 1;
}

.review-sub-container:first-child {
  margin-right: 20px;
}

#review-left-container {
  flex-basis: 10rem;
}

#review-left-container > * {
  margin: 1%;
  padding: 1%;
}

#review-right-container {
  flex-basis: 30rem;
}

#review-left-container > * {
  margin: 1%;
  padding: 1%;
}

.review-average-rating-number {
  font-size: 150%;
}

.review-filter-panel {
  margin: 1%;
}

.review-rating-breakdown > * {
  margin: 1%;
  padding: 1%;
}

.review-filter-panel > * {
  margin: 1%;
  padding: 1%;
}

.review-clickable:hover {
  font-weight: bold;
  cursor: pointer;
}

.review-breakdown-bar {
  display: flex;
}

.review-product-breakdown > * {
  margin: 1%;
  padding: 1%;
}

.reviews-list-tiles {
  overflow: scroll;
  max-height: 70vh;
}

.reviews-list > * {
  margin: 1% 0;
}

.review-show-button {
  margin: 1%;
}

.review-tile {
  border-bottom: solid black 0.1em;
}

.review-tile > * {
  margin: 1% 0;
}

.review-tile-top-panel {
  display: flex;
  justify-content: space-between;
}

.review-summary {
  font-size: 110%;
  font-weight: bold;
}

.review-additional-body-button {
  font-size: 80%;
}

.review-additional-body-button:hover {
  color: rgb(37, 37, 37);
  cursor: pointer;
}

.review-photo {
  width: 100px;
  margin: 1%;
  cursor: pointer;
}

.review-photo-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-photo-modal-content {
  width: 500px;
  background: #fff;
}

.user-recommend:before {
  content: '\f00c';
  font-family: FontAwesome;
}

.seller-response {
  background-color: rgb(226, 215, 215);
  padding: 1%;
}

/* STAR RATING */

:root {
  --star-size: 15px;
  --star-color: rgb(216, 207, 207);
  --star-background: black;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}